main .slide {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
  
     .container-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 10px;
      padding-left: 80px;
  
          .btn {
          background: #9C96F2;
          }
        }
    }
  