.contact-title {
    color: #8A67A1;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.lead {
    color: rgba(0, 0, 0, 0.747);
    margin-top: 10px;
}
.contact-body { 
    margin: 40px;
    background-color: #C3F2BB;
   
    .form-label {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.651);
        text-align: center;
    }
    
    .btn {
        border: none;
        outline: 0;
        padding: 12px;
        color: #30008F;
        font-family: 'Lato', sans-serif;
        background-color: #8A67A1;
        text-align: center;
        cursor: pointer;
        width: 50%;
        font-size: 18px; 
 
        &:hover {
            opacity: 0.7; }
       }
            
}