.faq {
    color: #8A67A1;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
  }
.accordion {
  max-width: 680px;
  margin: 50px auto;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
    
      .accordion-button {
        font-family: 'Lato', sans-serif;
        color: rgba(0, 0, 0, 0.658);
        background-color: #d68fe0b2;
      }
      .accordion-body {
        background-color: #C3F2BB;
           a {
            color: #30008F;
           }
      }
    }