footer {
      h4 {
         font-family: 'Raleway', sans-serif;
         font-style: normal;
         font-weight: 600;
         text-align: center;
         margin-top: 10px;
         font-size: 20px;
        }
      .footerLinks {
         display: flex;
         flex-direction: row;
         justify-content: center;
         
         
          a {
           color: black;
           font-size: 2rem;
           padding: 5px;
           margin: 8px;
        }
}
}