header .title {
  display: flex;
  place-content: center;
  margin-bottom: -20px;
  
}

 .navbar {
    background: rgb(242,208,196);
    background: $color-gradientNav;
    height: 70px;
  
  
     .navbar-nav {
     margin-left: 80px;
     margin-right: 80px;
     }
  
     .nav-item {
     margin-left: 10px;
     margin-right: 10px;
     
        &:hover {
          border-bottom:3px solid #F28080;
        }
     }
     .logo-desktop {
      height: 120px;
     }
  
     .logo-mobile {
     height: 120px;
     display: none;
     }
     .title-mobile {
     display: none;
     }
    }